# Pandas
-Data analysis library/ Work on data secienece 
2 inspector
    -Series--Single Dimention 
    -Data Frame-- Multidimention
   Note: create labels for us which array cant

In [34]:
import pandas as pd

# Series
  -Series are one dimention 
  -its can be concantenate vertically not horizontally

In [35]:
s1=pd.Series([1,2,3,4])

In [36]:
type(s1)

pandas.core.series.Series

In [37]:
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [38]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [39]:
s1.index=["one","two","three","four"] #indexes can be our choice
s1

one      1
two      2
three    3
four     4
dtype: int64

In [40]:
s1["one"]

1

In [41]:
s1[0]

1

In [42]:
s2= pd.Series([1,2,3,4,5],index=["apples","bananas", "oranges", "peers","two"])
s2

apples     1
bananas    2
oranges    3
peers      4
two        5
dtype: int64

In [43]:
s2["apples"]

1

In [44]:
s1+s2# will not add/merge until series is same

apples     NaN
bananas    NaN
four       NaN
one        NaN
oranges    NaN
peers      NaN
three      NaN
two        7.0
dtype: float64

In [45]:
s1*s2

apples      NaN
bananas     NaN
four        NaN
one         NaN
oranges     NaN
peers       NaN
three       NaN
two        10.0
dtype: float64

In [46]:
s1-s2

apples     NaN
bananas    NaN
four       NaN
one        NaN
oranges    NaN
peers      NaN
three      NaN
two       -3.0
dtype: float64

In [47]:
s1/s2

apples     NaN
bananas    NaN
four       NaN
one        NaN
oranges    NaN
peers      NaN
three      NaN
two        0.4
dtype: float64

In [48]:
s1&s2

apples     False
bananas    False
four       False
one        False
oranges    False
peers      False
three      False
two        False
dtype: bool

In [49]:
s3 =pd.Series(range(10))
s3

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [50]:
s4=pd.Series(range(10,21))
s4

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [51]:
s3+s4

0     10.0
1     12.0
2     14.0
3     16.0
4     18.0
5     20.0
6     22.0
7     24.0
8     26.0
9     28.0
10     NaN
dtype: float64

In [52]:
import numpy as np
arr1=np.arange(5)
arr1

array([0, 1, 2, 3, 4])

In [53]:
arr2=np.arange(6)
arr2

array([0, 1, 2, 3, 4, 5])

In [54]:
#arr1+arr2 will not be merged until the values are same

In [55]:
s2

apples     1
bananas    2
oranges    3
peers      4
two        5
dtype: int64

In [56]:
s2[1:3] #slicing

bananas    2
oranges    3
dtype: int64

In [57]:
s2["apples":"peers"]

apples     1
bananas    2
oranges    3
peers      4
dtype: int64

In [58]:
s2[2:4]=23
s2

apples      1
bananas     2
oranges    23
peers      23
two         5
dtype: int64

# Lambda functions are anonymous functions

In [59]:
new=pd.Series([99,100,8,89], index=["sadaf","ali","saad","waji"])
new

sadaf     99
ali      100
saad       8
waji      89
dtype: int64

In [60]:
#apply function
def myfuc(marks):
    return marks/100

In [61]:
new.apply(myfuc)

sadaf    0.99
ali      1.00
saad     0.08
waji     0.89
dtype: float64

In [62]:
#apply lambda function
new.apply(lambda x:x/100)

sadaf    0.99
ali      1.00
saad     0.08
waji     0.89
dtype: float64

In [63]:
new.apply(lambda x:np.where(x>50, "Pass", "fail")) #one time function , cant be called by anyone

sadaf    Pass
ali      Pass
saad     fail
waji     Pass
dtype: object

In [64]:
s5= pd.Series(100, index=s2.index)
s5

apples     100
bananas    100
oranges    100
peers      100
two        100
dtype: int64

In [72]:
np.linspace(1,10,10) #linear space series generater function

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [85]:
s6=pd.Series({'a':1,'b':2,'c':3,'d':4,})
s6
s6.shape
s6.size
s6.count()#dont count NAN

4

In [89]:
s1

one      1
two      2
three    3
four     4
dtype: int64

In [91]:
s1.value_counts()

1    1
2    1
3    1
4    1
dtype: int64

# Peeking at data with heads, tails, and take