# Pandas
-Data analysis library/ Work on data secienece 
2 inspector
    -Series--Single Dimention 
    -Data Frame-- Multidimention

In [1]:
import pandas as pd

# Series

In [52]:
s1=pd.Series([1,2,3,4])

In [7]:
type(s1)

pandas.core.series.Series

In [53]:
print(s1)

0    1
1    2
2    3
3    4
dtype: int64

In [54]:
s1.values

array([1, 2, 3, 4], dtype=int64)

In [55]:
s1.index=["one","two","three","four"] #indexes can be our choice
s1

one      1
two      2
three    3
four     4
dtype: int64

In [56]:
s1["one"]

1

In [49]:
s1[0]

'mr'

In [67]:
s2= pd.Series([1,2,3,4,5],index=["apples","bananas", "oranges", "peers","two"])
s2

apples     1
bananas    2
oranges    3
peers      4
two        5
dtype: int64

In [68]:
s2["apples"]

1

In [64]:
s1+s2# will not add/merge until series is same

apples     NaN
bananas    NaN
four       NaN
one        NaN
oranges    NaN
peers      NaN
three      NaN
two        7.0
dtype: float64

In [69]:
s1*s2

apples      NaN
bananas     NaN
four        NaN
one         NaN
oranges     NaN
peers       NaN
three       NaN
two        10.0
dtype: float64

In [71]:
s1-s2

apples     NaN
bananas    NaN
four       NaN
one        NaN
oranges    NaN
peers      NaN
three      NaN
two       -3.0
dtype: float64

In [73]:
s1/s2

apples     NaN
bananas    NaN
four       NaN
one        NaN
oranges    NaN
peers      NaN
three      NaN
two        0.4
dtype: float64

In [78]:
s1&s2

apples     False
bananas    False
four       False
one        False
oranges    False
peers      False
three      False
two        False
dtype: bool

In [80]:
s3 =pd.Series(range(10))
s3

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [84]:
s4=pd.Series(range(10,21))
s4

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [86]:
s3+s4

0     10.0
1     12.0
2     14.0
3     16.0
4     18.0
5     20.0
6     22.0
7     24.0
8     26.0
9     28.0
10     NaN
dtype: float64

In [90]:
import numpy as np
arr1=np.arange(5)
arr1

array([0, 1, 2, 3, 4])

In [93]:
arr2=np.arange(6)
arr2

array([0, 1, 2, 3, 4, 5])

In [96]:
#arr1+arr2 will not be merged until the values are same

In [99]:
s2

apples     1
bananas    2
oranges    3
peers      4
two        5
dtype: int64

In [101]:
s2[1:3] #slicing

bananas    2
oranges    3
dtype: int64

In [105]:
s2["apples":"peers"]

apples     1
bananas    2
oranges    3
peers      4
dtype: int64

In [110]:
s2[2:4]=23
s2

apples      1
bananas     2
oranges    23
peers      23
two         5
dtype: int64

# Lambda functions are anonymous functions

In [112]:
new=pd.Series([99,100,98,89], index=["sadaf","ali","saad","waji"])
new

sadaf     99
ali      100
saad      98
waji      89
dtype: int64

In [115]:
#apply function
def myfuc(marks):
    return marks/100

In [116]:
new.apply(myfuc)

sadaf    0.99
ali      1.00
saad     0.98
waji     0.89
dtype: float64

In [119]:
#apply lambda function
new.apply(lambda x:x*100)

sadaf     9900
ali      10000
saad      9800
waji      8900
dtype: int64