In [2]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

In [7]:

#The simplest Series is formed from only an array of data:
obj=pd.Series([4,7,-5,3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [14]:
obj.values

array([ 4,  7, -5,  3], dtype=int64)

In [17]:
obj.index #range

RangeIndex(start=0, stop=4, step=1)

In [24]:
#Often it will be desirable to create a Series with an
#index identifying each data point with a label:
obj2=pd.Series([4, 7, -5, 3], index=['a','b','c','d'])
obj2

a    4
b    7
c   -5
d    3
dtype: int64

In [28]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [31]:
#Compared with NumPy arrays, you can use labels in the index when selecting single
#values or a set of values:
obj2['d']

3

In [36]:
obj2['c']=6 #change value of index
obj2

a    4
b    7
c    6
d    3
dtype: int64

In [42]:
obj2[obj2>0]

a    4
b    7
c    6
d    3
dtype: int64

In [44]:
obj2*2

a     8
b    14
c    12
d     6
dtype: int64

In [47]:
import numpy as np
np.exp(obj2)

a      54.598150
b    1096.633158
c     403.428793
d      20.085537
dtype: float64

In [ ]:
#a fixed-length, ordered dict, as it is a mapping of 
#index values to data values

In [49]:
'b' in obj2 #find b in obj2

True

In [51]:
'e' in obj2

False

In [54]:
#Should you have data contained in a Python dict, 
#you can create a Series from it by passing the dict:
sdata={'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3=pd.Series(sdata)
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64