# Conditional Statments
 - Type Casting
 - User input
 - string concatenation
 - string formatusing >>(format(), f)
 - String 
 - if statement
 - else statement

#### Type Casting

In [2]:
# int, float, str, bool
marks = 95

In [4]:
print(type(marks))

<class 'int'>

In [5]:
float_marks = float(marks)
float_marks

95.0

In [7]:
percentage = 85.23
type(percentage)

float

In [8]:
int_percentage = int(percentage)
int_percentage

85

In [12]:
age  = "45"
print(type(age))
age

<class 'str'>

'45'

In [13]:
int_age = int(age)
int_age

45

In [14]:
float_age = float(age)

In [15]:
float_age

45.0

In [16]:
name  = "nasir"
int(name)

ValueError: invalid literal for int() with base 10: 'nasir'

In [18]:
float(name)

ValueError: could not convert string to float: 'nasir'

In [100]:
#67
chr(67), ord("e")

('C', 101)

#### User Input
   -  console input
   -  run time input
   -  user input from console will always be an string value

In [22]:
# input function
input()

nasir hussain

'nasir hussain'

In [20]:
user_name = input("Please tell me your good name sir!")

Please tell me your good name sir!Nasir Hussain

In [21]:
user_name

'Nasir Hussain'

In [23]:
user_age = input("Please enter your age")
user_age

Please enter your age100

'100'

#### String Concatenation (+)
    - Joining of two strings together!

In [24]:
fname = "Nasir"
lname = "Hussain"

In [25]:
fname + lname

'NasirHussain'

In [26]:
"Paksitan" + "ZindBDAD"

'PaksitanZindBDAD'

In [27]:
"aSAD"+ 45

TypeError: can only concatenate str (not "int") to str

In [28]:
'Asad' + str(45)

'Asad45'

In [29]:
name  = input('enter your name')
y_o_b = input('Enter your year of birth')
# year of birth although a integer value 
# but due to console input it will be assigned as string value

print("Your name is "+name+" and your year of birth is "+ y_o_b)

#"Your name is Ali ang your year of birth is 2000"

enter your nameAsad
Enter your year of birth2000
Your name is Asad and your year of birth is 2000

In [30]:
student_name = input("Enter your name")
student_age = input("Enter your age")

Enter your namehassan
Enter your age35

In [31]:
student_age + 10
# string      int

TypeError: can only concatenate str (not "int") to str

In [32]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

Enter your namefahad
Enter your age40

In [34]:
student_age+10
# int       int

50

In [39]:
student_age = int(float(input("Enter your age")))  #40

Enter your age40.5

In [40]:
student_age

40

In [41]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

print("Your name is "+student_name+" and your year of birth is "+ student_age)

Enter your namenasir
Enter your age34

TypeError: can only concatenate str (not "int") to str

In [42]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

print("Your name is "+student_name+" and your year of birth is "+ str(student_age))

Enter your namenasir
Enter your age32
Your name is nasir and your year of birth is 32

#### String Formation 
   -  format(value1, value2, ...)
   - it is easier , simpler than concatenation
   - it doent need type casting

In [47]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

print("Student name is {} and the student age is {}".format(student_name,student_age))
# {} PLACE HOLDERS                                              0           1

Enter your namenasir
Enter your age23
Student name is nasir and the 23 studentnasir age is 23

In [45]:
"N{}SI{}".format("A","R")

'NASIR'

In [48]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

print("Student name is {0} and the student age is {1}".format(student_name,student_age))
# {} PLACE HOLDERS                                              0           1

Enter your nameasad
Enter your age34
Student name is asad and the student age is 34

#### String format by f

In [49]:
student_name = input("Enter your name")
student_age = int(input("Enter your age"))

print(f"Student name is {student_name} and the student age is {student_age}")
# {} PLACE HOLDERS

Enter your namehussain
Enter your age54
Student name is hussain and the student age is 54

# String 
   - string is immutable (unchangeable)

In [50]:
institute = "PIAIC"

In [51]:
type(institute)

str

In [52]:
institute.capitalize()

'Piaic'

In [54]:
institute.lower()

'piaic'

In [55]:
institute.upper()

'PIAIC'

In [62]:
institute.count("PIAIC")

1

In [63]:
ins='Presidentail Initiative for AI and computing'
#    01234567890123456789012345678901234567890123

In [64]:
ins[6]

'e'

In [65]:
ins[37]

'm'

In [66]:
institute.find('c')
# -1 means not exist

-1

In [67]:
institute.find('C')

4

In [68]:
institute.find('I')

1

In [70]:
institute.find("I",2)

3

In [73]:
institute.isalnum()

True

In [74]:
"2".isdigit()

True

In [77]:
len("Pakistan")

10

In [79]:
"Pakistan"=="Pakistan "

False

In [80]:
' Pakistan'.lstrip()

'Pakistan'

In [81]:
'Pakistan  '.rstrip()

'Pakistan'

In [82]:
"   Paksitan   ".strip()

'Paksitan'

In [83]:
ins

'Presidentail Initiative for AI and computing'

In [84]:
ins[0]

'P'

In [86]:
ins[0]="p"

# immutable

TypeError: 'str' object does not support item assignment

In [87]:
designation = "President"

In [88]:
designation = designation.upper()

'PRESIDENT'

In [89]:
designation

'President'

In [90]:
smallp_President = designation.replace("P","p")

'president'

In [91]:
designation

'President'

# If statement
    - running a block of code when some specific condtion is satisfied.

In [92]:
age = int(input('Enter age'))  

if age > 18:
    print("Young")

Enter age23
Young

In [95]:
tomato_price = int(input("Tamater kia hisab hen"))
if tomato_price < 50:
    print("Give me 5kg")

Tamater kia hisab hen50

# Else Block

In [98]:
tomato_price = int(input("Tamater kia hisab hen"))
if tomato_price < 50:
    print("Give me 5kg.")
else:
    print("2KG")

Tamater kia hisab hen57
2KG

Will be discussed in next class
 Elif
 multiple ifs 
nested if 
and , or operator