# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [ ]:
# type your code here

In [20]:
#string Value
print("My Name Is Sadaf")
#integer Value
print(2+2)
#boolean Value
var=80
if var>100:
    print("Pass")
else:
    print("Fail")

#float Value
print(float(var))

My Name Is Sadaf
4
Fail
80.0

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [26]:
# type your code here
print("Date-Birth" + " - " + str(123) + " - " + str(True) + " - " + str(3.14))

Date-Birth - 123 - True - 3.14

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [38]:
import re
from unicodedata import name
import pandas as pd

In [54]:
# type your code here
data=("""11:41:06 From Ahmad Mudassar PIAIC113830 To Everyone : PIAIC113830
11:41:07 From Junaid Ali Bhatti To Everyone : PIAIC174125
11:41:08 From HuzaifaTahir PIAIC-60925 To Everyone : PIAIC60925
11:41:10 From Salman Nayyer To Everyone : PIAIC180996
11:41:11 From Muhammad Furqan(PIAIC183270) To Everyone : PIAIC183270
11:41:11 From Aisha Siddiqua To Everyone : PIAIC181221
11:41:12 From vivo 1901 To Everyone : PIAIC74287
11:41:12 From Humera Naz To Everyone : PIAIC173431
11:41:13 From Ali Azam-PIAIC66597 To Everyone : PIAIC66597
11:41:13 From Salma Asif To Everyone : PIAIC176945
11:41:15 From 02. M Awais Mushtaq Sec A To Everyone : PIAIC183887
11:41:16 From Irtiza Khan [PIAIC 171375] To Everyone : PIAIC171375
11:41:17 From Kabeer Rajput To Everyone : PIAIC133488
11:41:17 From Muhammad Farhan Ahsan PIAIC-168894 To Everyone : PIAIC168894
11:41:18 From Usman Noor PIAIC-188401 To Everyone : PIAIC188401
11:41:19 From Moattar Khanum (PIAIC170982) To Everyone : PIAIC170982
11:41:19 From MUHAMMAD USMAN MANZOOR To Everyone : PIAIC
Muhammad Usman Manzoor""")
a=re.findall('PIAIC\d{1,7}',r)
print(a)

[]

4) Can a python print function take no value to print???

In [ ]:
# type your answer here

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [ ]:
#type your code here

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [ ]:
#type your code here

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [ ]:
#type your code here

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [ ]:
#type your code here

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [ ]:
#type your code here

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [ ]:
#type your code here

11) print the year of birth of Mr. Ahmed.

In [ ]:
#type your code here

12) Can Rs. 100 be divided equally among 6 students? 
HINT: % operator

In [ ]:
#type your code here