# combining_reshaping_data

# Merging and joining Data Frames

In [7]:
import pandas as pd
import numpy as np
import datetime 
customers={'customer_id':[1234,1235,1111,2222,3334,3333,4444,5555],
             'Name':['Mike', 'Maria', 'Nasir', 'Ali',"Ahmed", 'Saad',"Hamid", "Kami"],
             'Address':['abc23-1', 'xyz-3','abc23-2', 'xyz-5','abc23-6', 'xyz-0','abc23-11', 'xyz-301'],
             }
customers=pd.DataFrame(customers)
customers

   customer_id   Name   Address
0         1234   Mike   abc23-1
1         1235  Maria     xyz-3
2         1111  Nasir   abc23-2
3         2222    Ali     xyz-5
4         3334  Ahmed   abc23-6
5         3333   Saad     xyz-0
6         4444  Hamid  abc23-11
7         5555   Kami   xyz-301