In [3]:
import numpy as np

In [11]:
def numpysum(n):
 a = numpy.arange(n) ** 2
 b = numpy.arange(n) ** 3
 c = a + b
 return c

In [14]:
numpysum

In [7]:
a=1
b=2
a,b=b,a
a
b

1

In [17]:
print('hello')

hello

In [31]:
if 43 < 0:
    print('negative')
else: 
    print('positive')

positive

In [33]:
#Loop
food=['ham','orange','mango']
for snack in food:
    print (snack)

ham
orange
mango

In [38]:
#step of two loop
for i in range(1,9,2):
    print(i)

1
3
5
7

In [42]:
#break a loop after a number
for i in range(9):
    print(i)
    if i ==3:
        print('three')
        break

0
1
2
3
three

In [49]:
#Print the numbers 0-4,skipping 3 as follows:

for i in range(5):
    if i == 3:
        print('Three')
        continue
    print(i)

0
1
2
Three
4

In [50]:
#Add an else clause as follows:
for i in range(10):
    print(i)
else:
    print(i,'in else clause')

0
1
2
3
4
5
6
7
8
9
9 in else clause

In [12]:
import math

In [11]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

math.pow(2,3)

In [18]:
from math import pow
pow(2,3)

8.0

In [30]:
import numpy as np
import matplotlib.pyplot as plt

In [31]:
#numpy arrays

In [52]:
#Adding vectors using pure Python with out numpy 
def pythonsum(n):
    a= range(n)
    b=range(n)
    c=[]
    for i in range(len(a)):
        a[i]=i**2
        b[i]=i**3
        c.append(a[i]+b[i])
    return c

In [1]:
import numpy as np

In [6]:
my_arr=np.arange(1000000)
my_list = list(range(1000000))

In [13]:
#Now let’s multiply each sequence by 2:
for _ in range(10): my_arr2 = my_arr * 2
print(my_arr2)

[      0       2       4 ... 1999994 1999996 1999998]

In [19]:
for _ in range(10): my_list2 = [x * 2 for x in my_list]

In [23]:
# Generate some random data
data=np.random.randn(2,3)
data

array([[-0.17901079,  1.03398494,  0.03092994],
       [-0.01307032,  0.36124621,  1.38388003]])

In [25]:
data*10

array([[-1.79010788, 10.33984939,  0.30929942],
       [-0.13070323,  3.61246211, 13.83880032]])

In [27]:
data +data

array([[-0.35802158,  2.06796988,  0.06185988],
       [-0.02614065,  0.72249242,  2.76776006]])

In [29]:
data.shape

(2, 3)

In [32]:
data.dtype

dtype('float64')

# Creating ndarrays

In [36]:
data1=[6,7.5,8,0,1]
arr1=np.array(data1)
arr1

array([6. , 7.5, 8. , 0. , 1. ])

In [42]:
#Nested sequences, like a list of equal-length lists,
#will be converted into a multidimen‐sional array:
data2=[[1, 2, 3, 4], [5, 6, 7, 8]]
arr2=np.array(data2)
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [43]:
arr1.dtype

dtype('float64')

In [45]:
arr2.dtype

dtype('int32')

In [51]:
data3=[[[1, 2, 3, 4], [5, 6, 7, 8],[9, 10, 11,12]]]
arr3=np.array(data3)
arr3

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8],
        [ 9, 10, 11, 12]]])

In [53]:
arr3.dtype

dtype('int32')

In [59]:
#pass a tuple for the shape:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [60]:
np.zeros((3,6))

array([[0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0.]])

In [63]:
np.empty((2,3,2)) #return grabage value

array([[[7.81390267e-312, 2.47032823e-322],
        [0.00000000e+000, 0.00000000e+000],
        [1.08221785e-312, 8.75983079e+164]],

       [[4.22661512e-090, 1.42023783e+161],
        [4.29286148e-038, 1.39443500e-047],
        [3.99910963e+252, 6.76057648e+170]]])


# Data Types for ndarrays

In [71]:
arr = np.array([1, 2, 3, 4, 5])
float_arr = arr.astype(np.float64)
float_arr.dtype

dtype('float64')

In [73]:
arr.dtype

dtype('int32')

In [78]:
arr=np.array([3.7, -1.2, -2.6, 0.5, 12.9, 10.1])
arr.dtype

dtype('float64')

In [81]:
#If I cast some floating-point numbers to be of integer dtype, the decimal part will be truncated:
arr.astype(np.int32)

array([ 3, -1, -2,  0, 12, 10])

In [85]:
#you can use astype to convert them to numeric form:
numeric_strings=np.array(['1.25', '-9.6', '42'], dtype=np.string_)

numeric_strings

array([b'1.25', b'-9.6', b'42'], dtype='|S4')

In [90]:

numeric_strings.dtype

dtype('S4')

In [91]:

numeric_strings.astype(float)

array([ 1.25, -9.6 , 42.  ])

In [92]:

numeric_strings.dtype

dtype('S4')

In [95]:
int_array=np.arange(10)
int_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [103]:
int_array.dtype

dtype('int32')

In [104]:
calibers=np.array([.22, .270, .357, .380, .44, .50], dtype=np.float64)
calibers

array([0.22 , 0.27 , 0.357, 0.38 , 0.44 , 0.5  ])

In [105]:
#convert the dtype
int_array.astype(calibers.dtype)

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [106]:
int_array.dtype

dtype('int32')

In [109]:
#There are shorthand type code strings you can also use to refer to a dtype:
empty_uint32=np.empty(8, dtype='u4')
empty_uint32

array([       1,        1,        0,  5570652,     1048,        0,
       16777984,    32767], dtype=uint32)

# Arithmetic with NumPy Arrays